<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">

	<display-name>M5_WebDinamicas</display-name>
	
	<servlet>
		<servlet-name>Inicio</servlet-name>
		<servlet-class>controlador.Inicio</servlet-class> 
	</servlet>

	<servlet>
		<servlet-name>AgregarCapacitacion</servlet-name>
		<servlet-class>controlador.CerrarSession</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CerrarSession</servlet-name>
		<servlet-class>controlador.CerrarSession</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Contacto</servlet-name>
		<servlet-class>controlador.Contacto</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CrearCapacitacion</servlet-name>
		<servlet-class>controlador.CrearCapacitacion</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CrearUsuario</servlet-name>
		<servlet-class>controlador.CrearUsuario</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>ListadoUsuarios</servlet-name>
		<servlet-class>controlador.ListadoUsuarios</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ListarCapacitaciones</servlet-name>
		<servlet-class>controlador.ListarCapacitaciones</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>controlador.Login</servlet-class>
	</servlet>
	
	<servlet-mapping>
	<servlet-name>Inicio</servlet-name>
	<url-pattern>/</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
	<servlet-name>Login</servlet-name>
	<url-pattern>/Login/</url-pattern>
	</servlet-mapping>
	
	
	  <welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.html</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<error-page>
		<error-code>404</error-code>
		<location>/errors/error-404.jpg</location>
	</error-page>

	<error-page>
		<error-code>500</error-code>
		<location>/errors/error-500-header.jpg</location>
	</error-page>
</web-app>